*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body,html{
    background: linear-gradient(135deg,#363232,#8e7d7d);
    width: 100%;
    height:100%;
}