* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive, Arial, Helvetica, sans-serif;
}

body {
  background: #121212;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}
.container {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 550px; 
  height: 90vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(255, 87, 34, 0.5);
  overflow: hidden;
}
.container h5{
  text-align: center;
}
.head{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head a{
  font-size: 30px;
   text-decoration: none;
}
.head a:hover{
   background: #ff784e;
  box-shadow: 0 0 10px #ff5722;
  border-radius: 40%;
}
.top-bar {
  display: flex;
  gap: 10px;
  position: sticky;
  top: 0;
  background: #1e1e1e;
  padding-bottom: 10px;
  z-index: 10;
}
img{
  height: 35px;
  width: 35px;
  font-size: 13px;
}


.top-bar input {
  flex: 1;
  padding: 12px 15px;
  border: 2px solid #ff5722;
  border-radius: 8px;
  background: #121212;
  color: #fff;
  outline: none;
  font-size: 16px;
  transition: 0.3s ease;
}

.top-bar input:focus {
  border-color: #ff784e;
  box-shadow: 0 0 8px #ff5722;
}

.top-bar button {
  padding: 12px 25px;
  background: #ff5722;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.top-bar button:hover {
  background: #ff784e;
  box-shadow: 0 0 10px #ff5722;
}

.to-list {
  flex: 1;
  overflow-y: auto;
  margin-top: 15px;
  padding-right: 5px;
}
.to-list::-webkit-scrollbar {
  width: 5px;
}
.to-list::-webkit-scrollbar-thumb {
  background: #ff5722;
  border-radius: 10px;
}
.to-list::-webkit-scrollbar-track {
  background: #2a2a2a;
}

.to-list li {
  list-style: none;
  background: #2a2a2a;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  font-size: 15px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
  word-break: break-word;
  gap: 10px;
}


.to-list li:hover {
  background: #333;
}

.to-list li::before {
  content: "✔";
  position: absolute;
  left: -25px;
  color: #ff5722;
  font-size: 16px;
}
.remove {
  cursor: pointer; 
  color: #d11a2a;
  font-size: 18px;
  margin-left: 16px;
}

@media (max-width: 600px) {
  .container {
    height: 85vh;
    padding: 15px;
  }

  .top-bar button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .top-bar input {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .top-bar {
    flex-direction: column;
  }

  .top-bar button {
    width: 100%;
  }
}
